{#- template json -#}
{#- 
  ref: https://docs.gitlab.com/ce/api/members.html#new-group
id	integer/string	yes	The ID or URL-encoded path of the project or group owned by the authenticated user
user_id	integer	yes	The user ID of the new member
access_level	integer	yes	A valid access level
expires_at	string	no	A date string in the format YEAR-MONTH-DAY
-#}

{
  'id': '{{ id }}',
  'user_id': '{{ userid }}',
  'access_level': '{{ json.access_level | default ("10") }}',
{%- if ( json.expires_at is defined ) and ( json.expires_at ) -%}
  'expires_at': '{{ json.expires_at }}',
{%- endif -%}
}
